<footer class="">
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid justify-content-center">
      <ul class="d-flex justify-content-evenly nav">
        <li class="nav-item footer">
          <a class="nav-link" href="/contacto">Contáctenos</a>
        </li>
        <li class="nav-item footer">
          <a class="nav-link" href="/">MA CUISINE Prensa</a>
        </li>
        <li class="nav-item footer">
          <a class="nav-link footer" href="/">Diseño por CAnton</a>
        </li>
        <li class="nav-item">
          <a class="nav-link footer" href="/">Términos y condiciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link footer" href="/">Políticas de privacidad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacto">E-mail: contact@macuisine.com</a>
        </li>
      </ul>
    </div>
  </nav>
</footer>
