<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    
    <div class="d-flex justify-content-center px-5">
      <div class="contact-page px-3">
        <div>
          <div>
            <h2 class="text-center">CONTACTANOS</h2>
          </div>
          <p class="form-txt">¡Escribinos un mensaje y hace tu reserva!</p>
        </div>
        <form class="row justify-content-center needs-validation" novalidate>
          <div class="col-md-6 mb-3">
            <input
              type="text"
              class="form-control custom-input"
              placeholder="Nombre"
              aria-label="Nombre"
              id="validationDefault01"
              required
            />
            <div class="invalid-feedback">Por favor ingrese su nombre.</div>
          </div>
          <div class="col-md-6 mb-3">
            <input
              type="text"
              class="form-control custom-input"
              placeholder="Apellido"
              aria-label="Apellido"
              required
            />
            <div class="invalid-feedback">Por favor ingrese su apellido.</div>
          </div>
          <div class="col-md-12 mb-3">
            <input
              type="email"
              class="form-control custom-input"
              placeholder="email"
              aria-label="email"
              required
            />
            <div class="invalid-feedback">
              Por favor ingrese un correo electrónico válido.
            </div>
          </div>
          <div class="check-radio">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="flexRadioDefault"
                id="flexRadioDefault1"
                required
              />
              <label class="form-check-label" for="flexRadioDefault1">
                Soy cliente habitual
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="flexRadioDefault"
                id="flexRadioDefault2"
                required
                checked
              />
              <label class="form-check-label" for="flexRadioDefault2">
                Es la primera vez que vengo
              </label>
              <div class="invalid-feedback">
                Por favor seleccione una opción.
              </div>
            </div>
          </div>
          <div class="container-form-check">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="flexCheckDefault">
                Quiero suscribirme al Newsletter
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckChecked"
                checked
              />
              <label class="form-check-label" for="flexCheckChecked">
                Quiero recibir noticias sobre talleres
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault2"
              />
              <label class="form-check-label" for="flexCheckDefault2">
                Quiero recibir promociones
              </label>
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <label for="validationTextarea" class="form-label">Textarea</label>
            <textarea
              class="form-control"
              id="validationTextarea"
              placeholder="Escriba su mensaje aquí"
              required
            ></textarea>
            <div class="invalid-feedback">
              Por favor ingrese un mensaje en el textarea.
            </div>
          </div>
          <div>
            <p class="recordatorio-text-area"></p>
          </div>
          <div class="col-md-12 mb-3 button">
            <button
              type="submit"
              class="btn btn-info active"
              id="botoncito"
              aria-pressed="true"
            >
              ENVIAR
            </button>
          </div>
        </form>
      </div>
    </div>
    <%- include('partials/footer') %>
    <script>
      // JavaScript para activar las validaciones
      (function () {
        "use strict";
        var forms = document.querySelectorAll(".needs-validation");
        Array.prototype.slice.call(forms).forEach(function (form) {
          form.addEventListener(
            "submit",
            function (event) {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add("was-validated");
            },
            false
          );
        });
      })();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>

      const user = {
        isAdmin: true // Cambia esto según el rol del usuario
      };

      // Verificar si el usuario es administrador y mostrar los enlaces de Usuarios y Clientes
      if (user && user.isAdmin) {
      const reservasLink = document.getElementById('reservas-link');
      const clientesLink = document.getElementById('clientes-link');
      if (reservasLink) {
        reservasLink.style.display = 'block'; // Mostrar el enlace de Usuarios
      }
      if (clientesLink) {
        clientesLink.style.display = 'block'; // Mostrar el enlace de Clientes
      }
    }
  </script>
  </body>
</html>
