<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="menu-card">
              <img src="img/MACUISINE-Menu-Gourment-Cata-2.png" alt="Plato 1" />
              <div class="menu-card-content">
                <h3 class="menu-card-title">
                  Filete de pollo con puré de coliflor, setas, col rizada (kale)
                  y flores comestibles.
                </h3>
                <p class="menu-card-text">
                  Filete de pollo asado o a la parrilla, acompañado de puré de
                  coliflor suave y cremoso, adornado con setas salteadas y
                  trozos de coliflor asada. Incluye además hojas de col rizada
                  (kale) y flores capuchinas.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="menu-card">
              <img
                src="img/MACUISINE-Menu-Gourment-Cata-3.png"
                alt="Plato 2"
                loading="lazy"
              />
              <div class="menu-card-content">
                <h3 class="menu-card-title">
                  Pulpo a la Parrilla con Espagueti Negro y Salsa de Tomate
                  Ahumado.
                </h3>
                <p class="menu-card-text">
                  Disfrute de un exquisito pulpo a la parrilla, perfectamente
                  tierno y caramelizado, servido sobre un nido de espagueti
                  negro infusionado con tinta de calamar y realzado con tomate
                  ahumado.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="menu-card">
              <img
                src="img/MACUISINE-Menu-Gourment-Catas.png"
                alt="Plato 2"
                loading="lazy"
              />
              <div class="menu-card-content">
                <h3 class="menu-card-title">
                  Lomo de Res Sellado con Puré de Berenjena y Zarzamoras.
                </h3>
                <p class="menu-card-text">
                  Lomo de res sellado a la perfección, servido en finas rodaja.
                  Acompañado por un suave y cremoso puré de berenjena. El plato
                  se adorna con frescas zarzamoras, se espolvorea con crujientes
                  trozos de nuez y se corona con hojas frescas de albahaca.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="menu-card">
              <img src="img/osso-buco.jpeg" alt="Plato 2" loading="lazy" />
              <div class="menu-card-content">
                <h3 class="menu-card-title">
                  Filete de Res con Hueso, Puré y Hojas Verdes.
                </h3>
                <p class="menu-card-text">
                  Filete de res premium, cocinado a la perfección y presentado
                  con el hueso y hojas frescas para realzar su sabor, acompañado
                  de un puré cremoso y suave que complementa la carne de manera
                  excepcional. Una especialidad de la casa.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="menu-card">
              <img src="img/pollo-naranja.jpeg" alt="Plato 2" loading="lazy" />
              <div class="menu-card-content">
                <h3 class="menu-card-title">Pollo a la naranja.</h3>
                <p class="menu-card-text">
                  pollo cocinado a la perfección con una salsa vibrante de
                  naranja fresca y uvas jugosas. Este maridaje de sabores
                  cítricos y dulces realza cada bocado, ofreciendo una
                  experiencia culinaria sofisticada y deliciosa, ideal para
                  paladares exigentes y ocasiones especiales.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="menu-card">
              <img src="img/pulpo-grillado.jpeg" alt="Plato 2" loading="lazy" />
              <div class="menu-card-content">
                <h3 class="menu-card-title">Pulpo con Fideos Negros.</h3>
                <p class="menu-card-text">
                  Pulpo tierno y perfectamente cocido, servido sobre una cama de
                  fideos negros de tinta de calamar. Este plato gourmet combina
                  sabores marinos profundos con una presentación visual
                  impactante.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('partials/footer') %>

    <script src="/js/main.js"></script>
    <script>
      const user = {
        isAdmin: true // Cambia esto según el rol del usuario
      };

      // Verificar si el usuario es administrador y mostrar los enlaces de Usuarios y Clientes
      if (user && user.isAdmin) {
        const reservasLink = document.getElementById('reservas-link');
        const clientesLink = document.getElementById('clientes-link');
        if (reservasLink) {
          reservasLink.style.display = 'block'; // Mostrar el enlace de Usuarios
        }
        if (clientesLink) {
          clientesLink.style.display = 'block'; // Mostrar el enlace de Clientes
        }
      }
    </script>

  </body>
</html>