html, body {
  height: 100%;
  margin: 0;
}


body {
  background-color: #493d3d;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#footer {
  flex-shrink: 0;
}

header nav.navbar {
  background-color: #1a1b1b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.nav-item {
  font-size: 18px;
}
header nav.navbar .nav-link {
  color: rgb(163, 111, 111);
  font-size: 16px;
  text-decoration: none;
  margin-right: 20px;
}
header nav.navbar .nav-link:hover {
  color: hsl(49, 31%, 58%); /*color verde claro en formato hexadecimal*/
}
header nav.navbar .navbar-brand img {
  height: 100px;
  margin-right: 20px;
  /*margin-left: 2rem;
    margin-right: 2rem;  espacio entre el logo y el texto 
    height: 50px;*/
}

.hamburguesa {
  background-color: #70725b;
  /* margin-top: 1.0em;
    margin-bottom: 1.5em;
    margin-right: 1.5em;*/
}
header nav.navbar ul.navbar-nav {
  list-style: none;
  padding: 0;
}
header nav.navbar ul.navbar-nav li.nav-item {
  display: inline;
}
.oscurecer-imagen {
  filter: brightness(0.5);
}
.carousel-inner {
  height: 70%;
  margin-top: 3em;
  margin-bottom: 3em;
}
.carousel-item {
  height: 100%;
}
.imagen-espacio-ma-cuisine {
  height: 50%;
  margin-left: 10%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
}
h2 {
  color: rgb(133, 140, 104);
  font-size: 24px;
  font-weight: bold;
  margin-right: 15em;
  margin-bottom: 2em;
  margin-left: 15em;
  text-align: center;
  align-items: center;
}
/* Estilos para el párrafo p */
p {
  color: rgb(207, 210, 181);
  font-size: 16px;
  margin-right: 15em;
  margin-bottom: 2em;
  margin-left: 15em;
  text-align: justify;
}
.nuestra-coleccion {
  font-family: Helvetica, sans-serif;
  font-size: 1.75em;
  font-weight: 300;
  font-style: oblique;
  font-variant: initial;
  color: #a09a76;
}
.cards {
  border-radius: 0.5em;
}
.img-card {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  margin: 0.5em;
}
.custom-card-bg {
  background-color: #c4ad8e;
  color: #303321;
  padding: 8px;
}

#conocermas {
  padding: 2px 2px;
}
.container-fluid {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
}
/*.row {
    width: 100%; 
}*/
.imagen-bs-octubre {
  padding: 0;
  width: 50%;
  margin: 0;
  flex: 0 0 50%;
  object-fit: cover;
}
.text.bs-octubre-text {
  margin: 0;
  padding: 2em;
  background-color: #404449;
  color: rgb(203, 187, 157);
  width: 50%;
  /*flex: 0 0 70%;*/
}
.bs-octubre-rectangulo {
  height: auto;
  /*width: 80%; */
  flex: 0 0 100%;
}
#comprar-tickets {
  margin-right: 1em;
  background-color: #85f395;
  border-color: #3ff45a;
  color: rgb(16, 22, 26);
}
/* .btn-info {
  background-color: #407047 !important;
  border-color: #224527 !important;
  color: rgb(16, 22, 26) !important;
}
.btn-info:active {
  background-color: #59562c !important;
  border-color: #313711 !important;
  color: rgb(16, 22, 26) !important;
} */
.recordatorio-text-area {
  font-weight: 300;
  font: 0.95em sans-serif;
  color: #8a8686;
  font-stretch: semi-expanded;
}
.bs-octubre-text {
  font-size: smaller;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 2em;
  align-items: center;
  color: #000000;
}
#rectangulo-botonera {
  margin-top: 0%;
  margin-bottom: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #044e68;
  z-index: 80;
  box-sizing: border-box;
}
#quiero-ser-orador {
  margin-right: 1em;
}
u {
  color: #3e413e;
  text-decoration-style: dotted;
  text-underline-offset: 0.3em;
}

/* ***** FOOTER *********** */
footer {
  margin-top: 3em;
  min-height: 5em;
  background-color: #1d1e1f;
  /*background-image: linear-gradient(rgb(20, 21, 21),rgb(75, 65, 75));*/
}
a.nav-link {
  color: #b9acac;
}
a.nav-link:hover {
  color: #e5e2b7;
}

/* ************************* MA-CUISINE ******************************** */
/*Estilos para las imágenes */
.imagen-espacio-ma-cuisine {
  display: block;
  max-width: 80%;
  height: auto;
  margin: 5% auto;
  border-radius: 0.5em;
  transition: transform 0.3s ease-in-out;
}
.imagen-espacio-ma-cuisine:hover {
  cursor: pointer;
}
.imagen-espacio-ma-cuisine.zoom {
  transform: scale(1.8);
}

/* ************************* MENU ******************************** */
.menu-card {
  background-color: #1a1b1b;
  border-radius: 1em;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.menu-card img {
  width: 100%;
  border-radius: 1em;
}
.menu-card-content {
  padding: 0 20px;
  color: #cfd2b5;
}
.menu-card-title {
  color: #7ee28d;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  margin: 15px;
}
.menu-card-text {
  font-size: 16px;
  text-align: center;
  margin: 5px;
}
/* ************************* CONTACTO ******************************** */
.contact-page {
  margin-top: 50px; /* Ajusta este valor para mayor o menor separación */
  background-color: #1a1b1b;
  padding: 50px;
  border-radius: 10px;
}
.contact-page .row {
  margin-bottom: 10px;
}
.contact-page .mb-3 {
  margin-bottom: 10px;
}
.contact-page textarea {
  resize: vertical; /* Permite redimensionar verticalmente */
  height: 150px; /* Altura inicial */
  min-height: 150px; /* Altura mínima */
}
.custom-input {
  background-color: #d8e3cb;
}
.form-txt {
  text-align: center;
}
.button {
  text-align: center;
}
.check-radio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: rgb(207, 210, 181);
}
.container-form-check {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: rgb(207, 210, 181);
}
/* *************************RESPONSIVE PARA TABLET************************* */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /*  INDEX   */
  p {
    margin-right: 5em;
    margin-bottom: 2em;
    margin-left: 5em;
  }
  h2 {
    margin-right: 1em;
    margin-bottom: 2em;
    margin-left: 1em;
  }
}
/* *************************RESPONSIVE PARA CELULAR************************* */
@media only screen and (max-width: 767px) {
  /*  INDEX   */
  p {
    margin-right: 1em;
    margin-bottom: 2em;
    margin-left: 1em;
  }
  h2 {
    margin-right: 1em;
    margin-bottom: 2em;
    margin-left: 1em;
  }
}
/* ************************** SECCION MA CUISINE **************************  */
.img-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em; /* Ajustamos la separación entre imágenes */
  margin: 1em 10em;
}
/* Para cada imagen en cada columna */
.img-item {
  position: relative;
  overflow: hidden;
  margin: 1em 0;
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.img-item:hover {
  transform: scale(1.05); /* Efecto de aumento al pasar el ratón */
}
.titulo-mcuisine {
  margin-top: 1em;
}
/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .img-grid {
    grid-template-columns: 1fr; /* Una sola columna */
    margin: 20px; /* Ajusta el margen para móviles si es necesario */
    gap: 0;
  }
  .img-item {
    margin-top: 30px;
  }
}
/* Estilos para el modal */


/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .img-grid {
    grid-template-columns: 1fr;
    margin: 20px;
  }
}

.menu-card {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.menu-card.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Estilos adicionales para manejar los nuevos IDs de los modales */

/* ********** MODALES *********** */
/* Estilos específicos de los modales */

/* Estilos adicionales para manejar los nuevos IDs de los modales */



.hidden {
  display: none;
}

/* .modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
} */
.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  /*padding: 20px;*/
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}


.modal-content {
  margin: auto;
  display: block;
  width: auto;
  max-width: 90vw;
}
#central {
  /*background-color: white;*/
  max-width: 600px;
  margin: auto;
  padding: 2.5em;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#eliminar,
#registro,
#login {
  margin-top: 3em;
  padding: 3em;
  background-color: #1a1b1b;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(66, 52, 33, 0.2);
}

.titulo {
  text-align: center;
  font-size: 1.75em;
  font-weight: bold;
  margin-bottom: 1.5em;
  color: rgb(163, 111, 111);
}

#login-form input[type="text"],
#login-form input[type="password"],
#delete-account input[type="text"],
#delete-account input[type="email"],
#delete-account input[type="password"],
#register-form input[type="text"],
#register-form input[type="email"],
#register-form input[type="password"] {
  width: 100%;
  padding: 1em;
  margin: 1.25em 0;
  border: 1px solid #daced5;
  border-radius: 3px;
}

/* Estilos para los botones */
#login-form button,
#register-form button,
#delete-account button {
  width: 100%;
  padding: 1em;
  margin: 10px 0;
  background-color: #cda0b4;
  color: rgb(30, 31, 27);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/* Estilos para los enlaces dentro de los modales */
#login-form a,
#register-form a,
#delete-account a {
  display: block;
  text-align: center;
  margin-top: 1em;
  color: #cda0b4;
  text-decoration: none;
}

/* Estilos para los textos adicionales dentro de los modales */
#login-form p,
#register-form p,
#delete-account p {
  text-align: center;
  margin-top: 1em;
  color: #cda0b4;
}
#delete-account button:hover,
#register-form button:hover,
#login-form button:hover {
  background-color: #e6edd3;
}

#registrate-link-delete-account .pie-form, 
#registrate-link-register-form .pie-form, 
#registrate-link-login-form .pie-form {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

#registrate-link-delete-account .pie-form a, 
#registrate-link-register-form .pie-form a, 
#registrate-link-login-form .pie-form a {
  color: #cda0b4;
  text-decoration: none;
  margin: 0 10px;
}

#registrate-link-delete-account .pie-form a:hover, 
#registrate-link-register-form .pie-form a:hover, 
#registrate-link-login-form a:hover {
  text-decoration: underline;
}

#volver-login-eliminar-en-delete-account .inferior,
#volver-login-eliminar-en-register-form .inferior ,
#volver-login-eliminar-login-form .inferior {
  text-align: center;
  margin-top: 20px;
}

/* Estilos adicionales para los enlaces de regresar */
.inferior a {
  display: block;
  margin-top: 1em;
  text-align: center;
  color: #cda0b4;
}

.inferior a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
} 

#eliminarUsuario-register-form,
#eliminarUsuario-delete-account,
#eliminarUsuario {
  color: #cda0b4;
  cursor: pointer;
}
#registrate-delete-account,
#registrate-register-form,
#registrate {
  color: #cda0b4;
  cursor: pointer;
}
#volverLogin,
#volverLogin-eliminar-en-register-form,
#volver-login-eliminar-en-delete-account {
  color: #cda0b4;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 2.5px;
}

#body-clientes,
#body-reserva{
  background-color: #282b2b ;
}

.container.text-light h1,
.container.text-light table,
.container.text-lightth,
.container.text-light td {
    color: rgb(199, 194, 194);
}
.cuisine-danger {
  background-color:#a88139 ; 
  border: none;
  color: #1a1b1b;
  

}
.cuisine-warning {
  background-color:#aa4444; 
  border: none;
  color: #1a1b1b;

}



#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 2.5rem; /* Ajuste esto a la altura de su footer */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Altura del footer */
}
#modal-editar-cliente-guardar,
#modal-editar-cliente-cerrar,
#modal-cerrar-agregar-cliente-btn,
#buscar-cliente-btn{
  font: 600;
  background-color:#245656!important; 
  border: none;
}
#modal-editar-cliente-guardar:hover,
#modal-editar-cliente-cerrar:hover,
#modal-cerrar-agregar-cliente-btn:hover,
#buscar-cliente-btn:hover{
  font: 600;
  background-color:#6c3253!important; 
  border: none;
}


.table{
  margin: 3em;
}


.btn{
  width: 250px;
  letter-spacing: 0.5px!important;
  font-weight: 500!important;
  text-transform: uppercase!important;
  text-align: center!important;
  font-size: 1em!important;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #f1e8e8!important;
}

#btn-editar{
  color: #f1e8e8;
  background-color:#a88139;
}
#btn-eliminar{
color: #f1e8e8;
background-color: #832e28;
}

#btn-editar:hover,
#btn-eliminar:hover{
background-color: #9bbcbc;
transition: all 0.3s ease !important;
display: flex;
}

#cliente-individual {
  margin-top: 2em;
  margin-bottom: 2em; 
}

#cliente-individual h3 {
  color: rgb(199, 194, 194);
  font-size: 2.5rem;
  margin-bottom: 20px; 
}

#cliente-detalles {
  background-color: rgba(57, 89, 96, 0.27); /* Negro translúcido */
  border-top: 2px solid #FFE4E1; /* Rosa muy claro tirando a blanco */
  border-bottom: 2px solid #FFE4E1;
  padding: 2em;
  margin-top: 2.5rem;
  margin-bottom: 2em; 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}



#cliente-detalles p {
  color: rgb(199, 194, 194);
  margin-bottom: 1em; 
  font-size: 1.25rem;
}

#cliente-individual .btn {
  font-size: 1em; 
  margin-right: 15px; 
  margin-top: 10px; 
}

#buscar-cliente-btn {
  width: 250px;
  color: #e4ebeb!important;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  
}

#modal-guardar-cliente-btn{
  background-color: #bc8d37!important;
  color: #e4ebeb!important;
}

#agregar-cliente-btn:hover{
  color: #e4ebeb!important;
  background-color:#67508e!important;
  color: #1a1b1b;
  transition: all 0.3s ease !important;
}

#agregar-cliente-btn {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 250px; /* Ajusta este valor según el tamaño medio que desees */
  background-color: #6c3253!important; /* Reemplaza YourColor con el código de color de tu paleta */
  color: rgb(255, 255, 255); /* Color del texto, ajusta si es necesario */
  transition: all 0.3s ease; /* Para una transición suave al hacer hover */
}


.agregar-cliente-btn:hover {
  background-color: #7e5f25!important; /* Un tono más oscuro del color principal */
  transition: all 0.3s ease !important;
}


/* Fondo oscuro para el contenido del modal */
.modal-content {
  background-color: #333 !important;
  color: #fff !important;
}

/* Estilo para el encabezado del modal */
.modal-header {
  border-bottom: 1px solid #444 !important;
}

/* Estilo para el pie del modal */
.modal-footer {
  border-top: 1px solid #444 !important;
}

/* Estilo para los botones dentro del modal */
.modal-content .btn-secondary {
  background-color: #555 !important;
  color: #fff !important;
}

.modal-content .btn-primary {
  background-color: #007bff !important;
  color: #fff !important;
}

/* Asegurarse de que los inputs tengan texto visible */
.modal-content input {
  background-color: #444 !important;
  color: #fff !important;
  border: 1px solid #555 !important;
}

/* Estilo para las etiquetas en el modal */
.modal-content label {
  color: #fff !important;
}



/* #login-form input[type="text"],
#login-form input[type="password"] {
  width: 100%;
  padding: 1em;
  margin: 1.25em 0;
  border: 1px solid #daced5;
  border-radius: 4px;
}

#delete-account input[type="text"],
#delete-account input[type="email"],
#delete-account input[type="password"],
#registro-form input[type="text"],
#registro-form input[type="email"],
#registro-form input[type="password"] {
  width: 100%;
  padding: 1em;
  margin: 1.25em 0;
  border: 1px solid #daced5;
  border-radius: 4px;
}

#delete-account button,
#registro-form button {
  width: 100%;
  padding: 1em;
  margin: 10px 0;
  background-color: #cda0b4;
  color: rgb(30, 31, 27);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#login-form button {
  width: 100%;
  padding: 1em;
  margin: 10px 0;
  background-color: #cda0b4;
  color: rgb(30, 31, 27);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#login-form button:hover {
  background-color: #e6edd3;
}

.pie-form {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.pie-form a {
  color: #cda0b4;
  text-decoration: none;
  margin: 0 10px;
}

.pie-form a:hover {
  text-decoration: underline;
}

.inferior {
  text-align: center;
  margin-top: 20px;
}

.inferior a {
  color: #cda0b4;
  text-decoration: none;
}

.inferior a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}
#eliminarUsuario {
  color: #cda0b4;
  cursor: pointer;
}
#registrate {
  color: #cda0b4;
  cursor: pointer;
}

#volverLogin 
#volverLoginEliminar {
  color: #cda0b4;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 2.5px;
} */
